.internet-connection {  
    @include mod('down') {
        background-color: color($purple, burgundy);

        .internet-connection__icon {
            @include background-icon('/svg/internet--down.svg');
        }
    }
    @include mod('up') {
        background-color: color($green, blueish);

        .internet-connection__icon {
            @include background-icon('/svg/internet--up.svg');
        }
    }

    .internet-connection__lastHeartbeatInfo {
        font-size: setting($font-size, xxs);
        position: absolute;
        bottom: .2em;
        right: .5em;
        text-align: right;
    }
}
