/* Company Color Palette: */
$grey: (
    pinkish: #bfbfbf,
    soft: #f3f3f3,
    brownish: #515151,
    warm: #868686,
);
$purple: (
    grape: #491767,
    warm: #72358a,
    eggplant: #2d0e45,
    burgundy: #a62d5b,
);
$brown: (
    greyish: #515151,
);
$green: (
    blueish: #19a69b,
);
$goldenrod: #f8c50a;
$black: #000;
$white: #ffffff;
