$red: (
        lightest: #fcebec,
        lighter: #e69a9c,
        light: #f76b6e,
        default: #e83134,
        dark: #a32324,
        darker: #63010e,
        darkest: #3d0109,
);
$orange: (
        lightest: #ffe5ca,
        lighter: #f5b180,
        light: #e77636,
        default: #e14a0c,
        dark: #711f03,
        darker: #581902,
        darkest: #391102,
);
$yellow: (
        lightest: #f7e8d4,
        lighter: #f7d1a1,
        light: #f6d169,
        default: #fbbd1a,
        dark: #b06f1c,
        darker: #734d00,
        darkest: #422c00,
);
$blue: (
    lightest: #e5f4f8,
    lighter: #a7dceb,
    light: #73c7de,
    default: #13869e,
    dark: #11727f,
    darker: #202f53,
    darkest: #262835,
);

$gray: (
    lightest: #ededf5,
    lighter: #cdcdda,
    light: #adadbb,
    default: #ababbb,
    dark: #53575e,
    darker: #23272f,
    darkest: #1a1e25,
);
/* BIZLY Colors */
$grey: (
    pinkish: #bfbfbf,
);
$purple: (
    grape: #491767,
);
$brown: (
    greyish: #515151,
);
$green: (
    blueish: #19a69b,
);
$goldenrod: #f8c50a;
$black: #000;
$white: #f3f3f3;
