@mixin font-sans-light {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 300;
}

@mixin font-sans {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
}

@mixin font-sans-bold {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 600;
}

@mixin font-sans-black {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 900;
}

@mixin source-sans-pro-default {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $white;
}

$font-size: (
        base: 1.6vw,
        tiny: .1em,
        xxxs: .35em,
        xxs: .55em,
        xs: .7em,
        s: .8em,
        default: .9em,
        m: 1em,
        l: 1.4em,
        xl: 2em,
        xxl: 3em,
);
